(
  assets:
   [ 
    ("Assassin", File ( path: "spaceship_blueprints/Assassin.glb" )),
    ("AssassinYellow2", File ( path: "materials/AssassinYellow2.glb" )),
    ("AssassinGray1", File ( path: "materials/AssassinGray1.glb" )),
    ("AssassinYellow1", File ( path: "materials/AssassinYellow1.glb" )),
    ("AssassinBlack2", File ( path: "materials/AssassinBlack2.glb" )),
    ("AssassinYellow3", File ( path: "materials/AssassinYellow3.glb" )),
    ("AssassinGray2", File ( path: "materials/AssassinGray2.glb" )),
    ("AssassinBlack1", File ( path: "materials/AssassinBlack1.glb" )),
   ]
)