(
  assets:
   [ 
    ("Defender", File ( path: "spaceship_blueprints/Defender.glb" )),
    ("DefenderBlue4", File ( path: "materials/DefenderBlue4.glb" )),
    ("DefenderBlack1", File ( path: "materials/DefenderBlack1.glb" )),
    ("DefenderDarkBlue1", File ( path: "materials/DefenderDarkBlue1.glb" )),
    ("DefenderBlue1", File ( path: "materials/DefenderBlue1.glb" )),
    ("DefenderBlue2", File ( path: "materials/DefenderBlue2.glb" )),
    ("DefenderBlue3", File ( path: "materials/DefenderBlue3.glb" )),
   ]
)