(
  assets:
   [ 
    ("TeleporterHead", File ( path: "blueprints/TeleporterHead.glb" )),
    ("BeltPurple3.002", File ( path: "materials/BeltPurple3.002.glb" )),
    ("BeltRed1.002", File ( path: "materials/BeltRed1.002.glb" )),
    ("BeltBlack1.002", File ( path: "materials/BeltBlack1.002.glb" )),
    ("BeltPurple2.002", File ( path: "materials/BeltPurple2.002.glb" )),
    ("BeltPurple4.002", File ( path: "materials/BeltPurple4.002.glb" )),
    ("BeltPurple1.002", File ( path: "materials/BeltPurple1.002.glb" )),
    ("SpawnerPlatform", File ( path: "blueprints/SpawnerPlatform.glb" )),
    ("SpawnerBlue3", File ( path: "materials/SpawnerBlue3.glb" )),
    ("SpawnerGreen2", File ( path: "materials/SpawnerGreen2.glb" )),
    ("SpawnerBlue2", File ( path: "materials/SpawnerBlue2.glb" )),
    ("SpawnerBlack1", File ( path: "materials/SpawnerBlack1.glb" )),
    ("SpawnerGreen3", File ( path: "materials/SpawnerGreen3.glb" )),
    ("SpawnerGray1", File ( path: "materials/SpawnerGray1.glb" )),
    ("SpawnerGreen1", File ( path: "materials/SpawnerGreen1.glb" )),
    ("SpawnerBlue8", File ( path: "materials/SpawnerBlue8.glb" )),
    ("SpawnerBlue1", File ( path: "materials/SpawnerBlue1.glb" )),
   ]
)