(
  assets:
   [ 
    ("SpawnPointA", File ( path: "blueprints/SpawnPointA.glb" )),
    ("SpawnerPlatform", File ( path: "blueprints/SpawnerPlatform.glb" )),
    ("SpawnerBlue3", File ( path: "materials/SpawnerBlue3.glb" )),
    ("SpawnerGreen2", File ( path: "materials/SpawnerGreen2.glb" )),
    ("SpawnerBlue2", File ( path: "materials/SpawnerBlue2.glb" )),
    ("SpawnerBlack1", File ( path: "materials/SpawnerBlack1.glb" )),
    ("SpawnerGreen3", File ( path: "materials/SpawnerGreen3.glb" )),
    ("SpawnerGray1", File ( path: "materials/SpawnerGray1.glb" )),
    ("SpawnerGreen1", File ( path: "materials/SpawnerGreen1.glb" )),
    ("SpawnerBlue8", File ( path: "materials/SpawnerBlue8.glb" )),
    ("SpawnerBlue1", File ( path: "materials/SpawnerBlue1.glb" )),
    ("TeleportTrack", File ( path: "blueprints/TeleportTrack.glb" )),
    ("BeltGreen3", File ( path: "materials/BeltGreen3.glb" )),
    ("BeltBlack1", File ( path: "materials/BeltBlack1.glb" )),
    ("BeltGreen4", File ( path: "materials/BeltGreen4.glb" )),
    ("BeltGray1", File ( path: "materials/BeltGray1.glb" )),
    ("BeltGreen1", File ( path: "materials/BeltGreen1.glb" )),
    ("BeltGreen2", File ( path: "materials/BeltGreen2.glb" )),
    ("Tesseract", File ( path: "blueprints/Tesseract.glb" )),
    ("TesseractBlue1", File ( path: "materials/TesseractBlue1.glb" )),
    ("TesseractGray1", File ( path: "materials/TesseractGray1.glb" )),
    ("TesseractPurple2", File ( path: "materials/TesseractPurple2.glb" )),
    ("TesseractPurple1", File ( path: "materials/TesseractPurple1.glb" )),
    ("TesseractBlue2", File ( path: "materials/TesseractBlue2.glb" )),
    ("TesseractBlack", File ( path: "materials/TesseractBlack.glb" )),
    ("LargeOre", File ( path: "blueprints/LargeOre.glb" )),
    ("OreCyan", File ( path: "materials/OreCyan.glb" )),
    ("OrePurple1", File ( path: "materials/OrePurple1.glb" )),
    ("OrePurple", File ( path: "materials/OrePurple.glb" )),
    ("OrePink", File ( path: "materials/OrePink.glb" )),
    ("TeleporterStart", File ( path: "blueprints/TeleporterStart.glb" )),
    ("TeleporterHead", File ( path: "blueprints/TeleporterHead.glb" )),
    ("BeltPurple3.002", File ( path: "materials/BeltPurple3.002.glb" )),
    ("BeltRed1.002", File ( path: "materials/BeltRed1.002.glb" )),
    ("BeltBlack1.002", File ( path: "materials/BeltBlack1.002.glb" )),
    ("BeltPurple2.002", File ( path: "materials/BeltPurple2.002.glb" )),
    ("BeltPurple4.002", File ( path: "materials/BeltPurple4.002.glb" )),
    ("BeltPurple1.002", File ( path: "materials/BeltPurple1.002.glb" )),
    ("TeleporterBase", File ( path: "blueprints/TeleporterBase.glb" )),
    ("TeleporterPurple3", File ( path: "materials/TeleporterPurple3.glb" )),
    ("TeleporterPurple2", File ( path: "materials/TeleporterPurple2.glb" )),
    ("TeleporterPink1", File ( path: "materials/TeleporterPink1.glb" )),
    ("TeleporterPurple1", File ( path: "materials/TeleporterPurple1.glb" )),
    ("TeleporterBlack1", File ( path: "materials/TeleporterBlack1.glb" )),
    ("TeleporterPurple4", File ( path: "materials/TeleporterPurple4.glb" )),
    ("MediumOre", File ( path: "blueprints/MediumOre.glb" )),
    ("OreCyan", File ( path: "materials/OreCyan.glb" )),
    ("OrePurple1", File ( path: "materials/OrePurple1.glb" )),
    ("OrePurple", File ( path: "materials/OrePurple.glb" )),
    ("OrePink", File ( path: "materials/OrePink.glb" )),
    ("SmallOre", File ( path: "blueprints/SmallOre.glb" )),
    ("OreCyan", File ( path: "materials/OreCyan.glb" )),
    ("OrePurple1", File ( path: "materials/OrePurple1.glb" )),
    ("OrePurple", File ( path: "materials/OrePurple.glb" )),
    ("OrePink", File ( path: "materials/OrePink.glb" )),
    ("MovingDoor", File ( path: "blueprints/MovingDoor.glb" )),
    ("MDoorOrange1", File ( path: "materials/MDoorOrange1.glb" )),
    ("MDoorGreen3", File ( path: "materials/MDoorGreen3.glb" )),
    ("MDoorGray2", File ( path: "materials/MDoorGray2.glb" )),
    ("MDoorBlack1", File ( path: "materials/MDoorBlack1.glb" )),
    ("MDoorGreen2", File ( path: "materials/MDoorGreen2.glb" )),
    ("MDoorGreen4", File ( path: "materials/MDoorGreen4.glb" )),
    ("MDoorGray1", File ( path: "materials/MDoorGray1.glb" )),
    ("MDoorGreen1", File ( path: "materials/MDoorGreen1.glb" )),
    ("Door", File ( path: "blueprints/Door.glb" )),
    ("DoorGreen1", File ( path: "materials/DoorGreen1.glb" )),
    ("DoorGray1", File ( path: "materials/DoorGray1.glb" )),
    ("DoorGreen3", File ( path: "materials/DoorGreen3.glb" )),
    ("DoorOrange1", File ( path: "materials/DoorOrange1.glb" )),
    ("DoorGreen4", File ( path: "materials/DoorGreen4.glb" )),
    ("DoorBlack1", File ( path: "materials/DoorBlack1.glb" )),
    ("DoorGreen5", File ( path: "materials/DoorGreen5.glb" )),
    ("DoorGray2", File ( path: "materials/DoorGray2.glb" )),
    ("DoorGreen2", File ( path: "materials/DoorGreen2.glb" )),
    ("Laser", File ( path: "blueprints/Laser.glb" )),
    ("LaserGray2", File ( path: "materials/LaserGray2.glb" )),
    ("LaserRed3", File ( path: "materials/LaserRed3.glb" )),
    ("LaserBlack1", File ( path: "materials/LaserBlack1.glb" )),
    ("LaserGray1", File ( path: "materials/LaserGray1.glb" )),
    ("LaserRed4", File ( path: "materials/LaserRed4.glb" )),
    ("LaserRed5", File ( path: "materials/LaserRed5.glb" )),
    ("LaserRed1", File ( path: "materials/LaserRed1.glb" )),
    ("LaserRed2", File ( path: "materials/LaserRed2.glb" )),
    ("TeleporterEnd", File ( path: "blueprints/TeleporterEnd.glb" )),
    ("TeleporterHead", File ( path: "blueprints/TeleporterHead.glb" )),
    ("BeltPurple3.002", File ( path: "materials/BeltPurple3.002.glb" )),
    ("BeltRed1.002", File ( path: "materials/BeltRed1.002.glb" )),
    ("BeltBlack1.002", File ( path: "materials/BeltBlack1.002.glb" )),
    ("BeltPurple2.002", File ( path: "materials/BeltPurple2.002.glb" )),
    ("BeltPurple4.002", File ( path: "materials/BeltPurple4.002.glb" )),
    ("BeltPurple1.002", File ( path: "materials/BeltPurple1.002.glb" )),
   ]
)