(
  assets:
   [ 
    ("SpawnPointA", File ( path: "blueprints/SpawnPointA.glb" )),
    ("TeleportTrack", File ( path: "blueprints/TeleportTrack.glb" )),
    ("TeleporterStart", File ( path: "blueprints/TeleporterStart.glb" )),
    ("TeleporterHead", File ( path: "blueprints/TeleporterHead.glb" )),
    ("BeltPurple4.002", File ( path: "materials/BeltPurple4.002.glb" )),
    ("BeltPurple2.002", File ( path: "materials/BeltPurple2.002.glb" )),
    ("BeltPurple1.002", File ( path: "materials/BeltPurple1.002.glb" )),
    ("BeltPurple3.002", File ( path: "materials/BeltPurple3.002.glb" )),
    ("BeltRed1.002", File ( path: "materials/BeltRed1.002.glb" )),
    ("BeltBlack1.002", File ( path: "materials/BeltBlack1.002.glb" )),
    ("BeltGreen2", File ( path: "materials/BeltGreen2.glb" )),
    ("BeltGreen4", File ( path: "materials/BeltGreen4.glb" )),
    ("BeltBlack1", File ( path: "materials/BeltBlack1.glb" )),
    ("BeltGreen3", File ( path: "materials/BeltGreen3.glb" )),
    ("BeltGreen1", File ( path: "materials/BeltGreen1.glb" )),
    ("BeltGray1", File ( path: "materials/BeltGray1.glb" )),
   ]
)