(
  assets:
   [ 
    ("SpawnPointA", File ( path: "blueprints/SpawnPointA.glb" )),
    ("TeleportTrack", File ( path: "blueprints/TeleportTrack.glb" )),
    ("BeltGray1", File ( path: "materials/BeltGray1.glb" )),
    ("BeltBlack1", File ( path: "materials/BeltBlack1.glb" )),
    ("BeltGreen1", File ( path: "materials/BeltGreen1.glb" )),
    ("BeltGreen2", File ( path: "materials/BeltGreen2.glb" )),
    ("BeltGreen3", File ( path: "materials/BeltGreen3.glb" )),
    ("BeltGreen4", File ( path: "materials/BeltGreen4.glb" )),
    ("TeleporterHead", File ( path: "blueprints/TeleporterHead.glb" )),
    ("BeltPurple4.002", File ( path: "materials/BeltPurple4.002.glb" )),
    ("BeltPurple2.002", File ( path: "materials/BeltPurple2.002.glb" )),
    ("BeltPurple1.002", File ( path: "materials/BeltPurple1.002.glb" )),
    ("BeltRed1.002", File ( path: "materials/BeltRed1.002.glb" )),
    ("BeltPurple3.002", File ( path: "materials/BeltPurple3.002.glb" )),
    ("BeltBlack1.002", File ( path: "materials/BeltBlack1.002.glb" )),
    ("Tesseract", File ( path: "blueprints/Tesseract.glb" )),
    ("TesseractBlack", File ( path: "materials/TesseractBlack.glb" )),
    ("TesseractGray1", File ( path: "materials/TesseractGray1.glb" )),
    ("TesseractPurple1", File ( path: "materials/TesseractPurple1.glb" )),
    ("TesseractBlue1", File ( path: "materials/TesseractBlue1.glb" )),
    ("TesseractBlue2", File ( path: "materials/TesseractBlue2.glb" )),
    ("TesseractPurple2", File ( path: "materials/TesseractPurple2.glb" )),
    ("LargeOre", File ( path: "blueprints/LargeOre.glb" )),
    ("OreCyan", File ( path: "materials/OreCyan.glb" )),
    ("OrePurple1", File ( path: "materials/OrePurple1.glb" )),
    ("OrePurple", File ( path: "materials/OrePurple.glb" )),
    ("OrePink", File ( path: "materials/OrePink.glb" )),
    ("TeleporterStart", File ( path: "blueprints/TeleporterStart.glb" )),
    ("TeleporterHead", File ( path: "blueprints/TeleporterHead.glb" )),
    ("BeltPurple4.002", File ( path: "materials/BeltPurple4.002.glb" )),
    ("BeltPurple2.002", File ( path: "materials/BeltPurple2.002.glb" )),
    ("BeltPurple1.002", File ( path: "materials/BeltPurple1.002.glb" )),
    ("BeltRed1.002", File ( path: "materials/BeltRed1.002.glb" )),
    ("BeltPurple3.002", File ( path: "materials/BeltPurple3.002.glb" )),
    ("BeltBlack1.002", File ( path: "materials/BeltBlack1.002.glb" )),
    ("SpawnerPlatform", File ( path: "blueprints/SpawnerPlatform.glb" )),
    ("SpawnerBlue1", File ( path: "materials/SpawnerBlue1.glb" )),
    ("SpawnerGreen1", File ( path: "materials/SpawnerGreen1.glb" )),
    ("SpawnerBlack1", File ( path: "materials/SpawnerBlack1.glb" )),
    ("SpawnerGreen2", File ( path: "materials/SpawnerGreen2.glb" )),
    ("SpawnerBlue3", File ( path: "materials/SpawnerBlue3.glb" )),
    ("SpawnerBlue2", File ( path: "materials/SpawnerBlue2.glb" )),
    ("SpawnerGray1", File ( path: "materials/SpawnerGray1.glb" )),
    ("SpawnerGreen3", File ( path: "materials/SpawnerGreen3.glb" )),
    ("SpawnerBlue8", File ( path: "materials/SpawnerBlue8.glb" )),
   ]
)