[submodule "external_crates/bevy_typst"]
	path = external_crates/bevy_typst
	url = https://github.com/voxell-tech/bevy_typst
[submodule "external_crates/bevy_vello_graphics"]
	path = external_crates/bevy_vello_graphics
	url = https://github.com/voxell-tech/bevy_vello_graphics
