# Rust builds
/target
# Trunk builds
/web/dist/

# Pdf files
*.pdf
# Blender backup files
*.blend1
# Log files
*.log

# This file contains environment-specific configuration like linker settings
.cargo/config.toml
