LuminaSettings(
    fixed_timestep_hz: 64.0,
    // In milliseconds
    server_replication_interval: 100,
    server: ServerSettings(
        headless: true,
        inspector: false,
        conditioner: None,
        server_port: 5000,
    ),
    client: ClientSettings(
        inspector: true,
        client_id: 0,
        // The OS will assign a random open port.
        client_port: 0, 
        // conditioner: Some(Conditioner(
        //     latency_ms: 75,
        //     jitter_ms: 10,
        //     packet_loss: 0.02
        // )),
        conditioner: None,
        input_delay_ticks: 4,
        correction_ticks_factor: 1.0,
    ),
    shared: SharedSettings(
        server_addr: "127.0.0.1",
        server_port: 5000,
        protocol_id: 0,
        private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
        compression: None,
    )
)
