(
    spawn_rate: 0.06,
    spawn_amount: 3,
    emission_shape: Circle(16.0),
    lifetime: (0.3, 0.8),
    linear_speed: Some((100.0, 0.5)),
    linear_acceleration: Some((0.0, 0.0)),
    direction: Some(((-0.5, 0.0), 0.1)),
    angular_speed: Some((5.0, 0.1)),
    angular_acceleration: Some((0.0, 0.0)),
    scale: Some((0.0, 0.0)),
    color: None,
    gravity_direction: Some(((0.0, 0.0), 0.0)),
    gravity_speed: Some((0.0, 1.0)),
    linear_damp: Some((10.0, 0.0)),
    angular_damp: Some((1.0, 0.0)),
    scale_curve: Some((points: [
        (5.0, 0.0, None),
        (7.0, 1.0, Some(CubicInOut))
    ])),
    color_curve: Some((points: [
        ((red: 2.6, green: 3.0, blue: 3.0, alpha: 1.0), 0.0, None),
        ((red: 2.5, green: 3.0, blue: 0.0, alpha: 1.0), 0.2, None),
        ((red: 2.0, green: 2.3, blue: 0.0, alpha: 1.0), 0.5, None),
        ((red: 0.9, green: 1.0, blue: 0.0, alpha: 0.0), 1.0, None)
    ]))
)
